@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-ExtraBoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-raleway text-white;
  }
}

@layer components {
  .container {
    @apply max-w-[1110px];
  }
}

html {
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
  user-select: none;
}

.scroll-lock {
  overflow: hidden;
}

.preloader.is-hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.header-lang-list {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top left;
  transition: all 0.3s;
}

.header-lang-list.is-open {
  opacity: 1;
  transform: scaleY(1);
  transition: all 0.3s;
}

/* GAME COMPONENT */

.game-inner.colored {
  background: radial-gradient(50% 50% at 50% 50%,
      rgb(30, 44, 123) 0%,
      rgb(13, 13, 14) 100%);
  animation: gradientChange 6s ease-in-out infinite;
}

@keyframes gradientChange {
  0% {
    background: radial-gradient(50% 50% at 50% 50%,
        rgb(30, 44, 123) 0%,
        rgb(13, 13, 14) 100%);
  }

  33% {
    background: radial-gradient(50% 50% at 50% 50%,
        rgb(87, 27, 93) 0%,
        rgb(13, 13, 14) 100%);
  }

  66% {
    background: radial-gradient(50% 50% at 50% 50%,
        rgb(27, 45, 93) 0%,
        rgb(13, 13, 14) 100%);
  }

  100% {
    background: radial-gradient(50% 50% at 50% 50%,
        rgb(27, 93, 30) 0%,
        rgb(13, 13, 14) 100%);
  }
}

.win-count-text.lost {
  color: #ff0000;
}

/* HERO SECTION */

/* .big-bonus-text {
  text-shadow: #f0f0f0 1px 0px 0px, #f0f0f0 0.540302px 0.841471px 0px, #f0f0f0 -0.416147px 0.909297px 0px, #f0f0f0 -0.989992px 0.14112px 0px, #f0f0f0 -0.653644px -0.756802px 0px, #f0f0f0 0.283662px -0.958924px 0px, #f0f0f0 0.96017px -0.279415px 0px;
} */

.hero-bonus-big {
  position: relative;
  background: linear-gradient(180deg, #28a809 0%, #fff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-bonus-big::before {
  content: "+500%";
  /* Replace this with your actual text */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: #f0f0f0;
  text-shadow:
    2px 0px 0px #ff0000,
    2px 2px 0px #ff0000,
    -2px 2px 0px #ff0000,
    -2px 2px 0px #ff0000,
    -2px -2px 0px #ff0000,
    2px -2px 0px #ff0000,
    2px -2px 0px #ff0000;
  pointer-events: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.green-btn {
  box-shadow: inset 0 4px 4px 0 rgba(255, 255, 255, 0.25);
  background: #28a809;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 24px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.guide-title {
  text-shadow:
    rgb(240, 240, 240) 2px 0px 0px,
    rgb(240, 240, 240) 1.75517px 0.958851px 0px,
    rgb(240, 240, 240) 1.0806px 1.68294px 0px,
    rgb(240, 240, 240) 0.141474px 1.99499px 0px,
    rgb(240, 240, 240) -0.832294px 1.81859px 0px,
    rgb(240, 240, 240) -1.60229px 1.19694px 0px,
    rgb(240, 240, 240) -1.97998px 0.28224px 0px,
    rgb(240, 240, 240) -1.87291px -0.701566px 0px,
    rgb(240, 240, 240) -1.30729px -1.5136px 0px,
    rgb(240, 240, 240) -0.421592px -1.95506px 0px,
    rgb(240, 240, 240) 0.567324px -1.91785px 0px,
    rgb(240, 240, 240) 1.41734px -1.41108px 0px,
    rgb(240, 240, 240) 1.92034px -0.558831px 0px,
    0 0 16px #fff;
}

.guide-card::before {
  content: "";
  width: 100%;
  height: 180px;
  background: url("../img/guide-card-bg.webp");
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: contain;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.guide-card-1::before {
  background: url("../img/guide-card-bg160.webp");
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: contain;
}

.guide-card-3::before {
  background: url("../img/guide-card-bg160.webp");
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: contain;
}

.guide-card p,
.guide-card span,
.guide-card a {
  text-shadow: -4px 4px 8px rgba(0, 0, 0, 0.5);
}

.form-overlay.is-open {
  display: grid;
}

/* | AUTH FORM STYLES */

.auth-form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #121213 inset;
  -webkit-text-fill-color: #f0f0f0;
}

.auth-form input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #121213 inset;
  -webkit-text-fill-color: #f0f0f0;
}

.auth-form input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px #121213 inset;
  -webkit-text-fill-color: #f0f0f0;
}

.auth-form .iti {
  width: 100%;
  height: 52px;
  background: #121213;
  border: 1px solid rgba(240, 240, 240, 0.2);
  border-radius: 8px;
  font-weight: 700;
}

.auth-form .iti .phone-input {
  width: 100%;
  height: 100%;
  outline: none;
}

.auth-form .iti__country-list li {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 8px;
  background-color: #121213;
}

.auth-form .iti__search-input {
  display: none !important;
}

.auth-form .iti__country-list li.iti__highlight {
  background-color: #3e4045;
}

.auth-form .iti__country-list li span {
  color: #f0f0f0;
}

.auth-form .iti__dropdown-content {
  top: 105%;
  border-radius: 8px !important;
  overflow: hidden !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
}

.form-content {
  display: none;
}

.form-content.active {
  display: block;
}

.modal-tabs button.active {
  border-color: #28a809;
  color: #28a809;
}

.modal-tabs button[data-tab="email"].active svg {
  stroke: #28a809;
}

.modal-tabs button[data-tab="phone"].active svg {
  stroke: #28a809;
}

.modal-tabs button[data-tab="social"].active svg {
  fill: #28a809;
}

.modal-tabs button[data-tab="oneclick"].active svg {
  stroke: #28a809;
}

.checkbox:hover .checkbox-content::before {
  background-image: url("../img/unckecked.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.checkbox-input:checked+.checkbox-content::before {
  background: url("../img/checked.svg"), #28a809;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.checkbox-content::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #272f50;
  background-color: #0e0f20;
  position: absolute;
  left: 0;
  top: 3px;
}

.socials-item {
  box-shadow: inset 0 2px 3px 0 rgba(255, 255, 255, 0.25);
  background: #253265;
  position: relative;
  overflow: hidden;
}

.socials-item::before {
  content: "";
  width: 30px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  filter: blur(4px);
}

.social-variant-input:checked+.socials-item {
  background-color: #fff;
}

.social-variant-input:checked+.socials-item svg {
  fill: #0e0f20;
}

.valid {
  border-color: #4ed937;
}

.non-valid {
  border-color: #ff5530;
}

.auth-form-email.valid .validation-cta .correct {
  display: block;
}

.auth-form-email.non-valid .validation-cta {
  display: flex;
}

.auth-form-email.non-valid .validation-cta .wrong {
  display: block;
}

.auth-form-password.valid .password-cta .correct {
  display: block;
}

.auth-form-password.non-valid .password-cta .wrong {
  display: block;
}

.error-alert.is-visible {
  opacity: 1;
  visibility: visible;
}

.error-alert::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-top: 6px solid #f0f0f0;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}

.terms-input.non-valid+span::before {
  border-color: #ff5530;
}

.auth-form-phone.valid {
  border: 1px solid #4ed937;
  border-radius: 8px;
}

.auth-form-phone.valid .form-phone-cta {
  display: block;
}

.auth-form-phone.non-valid .form-phone-cta {
  display: block;
}

.auth-form-phone.valid .form-phone-cta .correct {
  display: block;
}

.auth-form-phone.non-valid .form-phone-cta .wrong {
  display: block;
}

.auth-form-phone.non-valid {
  border: 1px solid #ff5530;
  border-radius: 8px;
}

.modal-tabs button::before {
  content: "";
  width: 50px;
  height: 30px;
  border-radius: 50px;
  background: #ffffff50;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  z-index: 2;
  filter: blur(15px);
  will-change: filter;
  opacity: 0;
  transition: 0.2s;
}

.modal-tabs button.active::after {
  content: "";
  width: 50px;
  height: 30px;
  border-radius: 50px;
  background: #f4fd2b50;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  z-index: 10;
  filter: blur(15px);
  will-change: filter;
}

.modal-tabs button.active::before {
  display: none;
}

.modal-tabs button:hover::before {
  opacity: 1;
}

.modal-tabs button.active:hover::before {
  background: #f4fd2b50;
}

.decline-title {
  filter: drop-shadow(0px 0px 15px #000000);
}

.decline-title span {
  background: linear-gradient(180deg, #ff9696 0%, #ff3838 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.decline-yellow-btn {
  box-shadow: inset 0 4px 4px 0 rgba(255, 255, 255, 0.75);
  background: linear-gradient(180deg, #f4fd2b 0%, #ffa434 100%);
}

.next-deposit {
  background: url("../img/next-deposit-bg.webp"),
    linear-gradient(180deg,
      rgba(20, 130, 255, 0.4) 0%,
      rgba(20, 130, 255, 0.4) 100%);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: contain;
}

.banner-big-text {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.your-winning {
  background: url("../img/your-winning-bg.webp"),
    linear-gradient(180deg,
      rgba(78, 217, 55, 0.4) 0%,
      rgba(24, 94, 13, 0.4) 100%);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: contain;
}

.form-yellow-btn {
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 4px 4px 0 rgba(255, 255, 255, 0.75);
  background: #28a809;
  color: #ffffff;
}

.form-yellow-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #f0f0f020;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

.form-yellow-btn:hover::before {
  opacity: 1;
  visibility: visible;
}

.social-variant-input:disabled+span {
  opacity: 0.4;
}

.submit-disabled {
  opacity: 0.4;
  pointer-events: none;
}

.form-yellow-btn svg {
  display: none;
}

.form-yellow-btn span {
  display: block;
}

.form-yellow-btn.loading svg {
  display: block;
}

.form-yellow-btn.loading span {
  display: none;
}

/* | SOCIALS FORM STYLES */

.socials-form .iti {
  width: 100%;
  height: auto;
  font-size: 18px !important;
  font-weight: 700;
  line-height: 100% !important;
}

.socials-form .iti__selected-country-primary:hover {
  background-color: transparent !important;
}

.socials-form .iti .phone-input {
  width: 100%;
  height: 100%;
  outline: none;
}

.socials-form .iti__country-list {
  border: none !important;
}

.socials-form .iti__country-list li {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 8px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.socials-form .iti__tel-input {
  padding-left: 100px !important;
}

.socials-form .iti__selected-country-primary {
  height: auto !important;
}

.socials-form .iti__search-input {
  border: none !important;
  outline: none;
  color: #0f0f0f;
  padding: 10px 12px;
}

.socials-form .iti__country-list li span {
  color: #0f0f0f;
}

.socials-form .iti__dropdown-content {
  top: 110%;
  border-radius: 8px !important;
  overflow: hidden !important;
}

.socials-form .iti__dial-code {
  color: #755eeb !important;
}

.socials-form .iti__selected-dial-code {
  color: #755eeb !important;
}

.socials-form .iti .phone-input {
  font-size: 18px !important;
  line-height: 100% !important;
  height: 22px !important;
}

.socials-form .iti__selected-country {
  height: 22px !important;
}

.socials-form-type-btn::before {
  content: "";
  width: 100%;
  height: 3px;
  background: #fad303;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
}

.socials-form-type-btn.active::before {
  opacity: 1;
}

.socials-form-type-btn.active span {
  color: #fad303;
}

.socials-form-type-btn.active svg {
  stroke: #fad303;
}

.socials-form-group-email label {
  transition: 0.3s;
}

/* .form-group-email input:focus, */
.socials-form-group-email input:focus+label,
.socials-form-group-email input:not(:placeholder-shown)+label {
  font-size: 12px;
  transform: translateY(-14px);
}

.form-step-btn:disabled {
  background: #8a8e37;
}

.socials-form-group {
  display: none;
}

.socials-form-group.active {
  display: flex;
}

.socials-form-group {
  border: 2px solid transparent;
}

.socials-form-group.not-valid {
  border: 2px solid #ff5530;
}

.socials-form-group.not-valid input {
  color: #ff5530;
}

.socials-form-group.not-valid .tooltip {
  display: block;
}

.socials-form-group-password {
  border: 2px solid transparent;
}

.socials-form-group-password.not-valid {
  border: 2px solid #ff5530;
}

.socials-form-group-password.not-valid input {
  color: #ff5530;
}

.socials-form-group-password.not-valid .tooltip {
  display: block;
}

.socials-form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f0f0f0 inset;
  -webkit-text-fill-color: #755eeb;
}

.socials-form input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #f0f0f0 inset;
  -webkit-text-fill-color: #755eeb;
}

.socials-form input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px #f0f0f0 inset;
  -webkit-text-fill-color: #755eeb;
}

.checkbox .checkbox-content::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid transparent;
  position: absolute;
  left: 0;
  top: 0;
}

.checkbox .checkbox-input:checked+.checkbox-content::before {
  background: url("../img/checked.svg") #28a809;
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.tooltip::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;

  border-top: 6px solid #f0f0f0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.form.loading .main-form-submit-btn span {
  display: none;
}

.form.loading .main-form-submit-btn .loading-icon {
  display: block;
}

.form.loading .form-group-password {
  pointer-events: none;
  opacity: 0.6;
}

.form.loading .form-currency {
  pointer-events: none;
  opacity: 0.6;
}

/* | EXTRA */

.form-currency-dropdown {
  max-height: 225px;
  overflow-y: auto;
}

.red-arrow {
  animation: redArrow 1s ease infinite forwards;
}

@keyframes redArrow {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(5px);
  }
}

.form-bonus-btn.bonus-applied {
  border-color: #4ed937;
}

.form-bonus-btn.bonus-applied .bonus-btn-check {
  display: block;
}

.form-bonus-btn.bonus-applied .bonus-btn-arrow {
  display: none;
}

@media (max-width: 374px) {
  .main-bonus-name {
    font-size: 12px !important;
  }
}

.terms-modal.is-open {
  display: grid;
}

.scroll-lock {
  overflow: hidden;
}

.payments-list-modal div {
  max-width: 60px;
}

@media (max-width: 500px) {
  .modal-tabs {
    display: flex;
  }

  .modal-tabs button {
    font-size: 10px;
    padding-left: 0;
    padding-right: 0;
    width: 33%;
  }

  .modal-tabs button svg {
    max-width: 20px;
    height: auto;
  }
}

.payments-list-marquee div {
  flex-shrink: 0;
  width: 80px;
}